In [ ]:
a=10
a= a + 7
print(a)

In [ ]:
2+2+1

5

In [ ]:
a = 4
print(a)
print(type(a))

4
<class 'int'>

In [ ]:
a,x=4 , 9000
print(a)
print(x)

4
9000

In [ ]:
print("Integer")
a=3
print(a,type(a))

print("\nFloat")
pi= 3.14
print(pi, type(pi))

print("\nComplex")
c= 3.14+ 3j
print(c, type(c))
print(c.real, type(c.real))
print(c.imag, type(c.imag))

Integer
3 <class 'int'>

Float
3.14 <class 'float'>

Complex
(3.14+3j) <class 'complex'>
3.14 <class 'float'>
3.0 <class 'float'>

In [ ]:
e= 10/3
print(e, type(e))
f = (10/3)/(10/3)
print(f, type(f))
f= int((10/3)/(10/3))
print(f,type(f))

3.3333333333333335 <class 'float'>
1.0 <class 'float'>
1 <class 'int'>

In [ ]:
#operation on numbers

In [ ]:
print(7*3. , type(7*3.)) #int x float-> float

21.0 <class 'float'>

In [ ]:
print(3/2, type(3/2)) #Warning: int in Python 2, float in Python 3
print(3/2., type(3/2.)) #To be sure

1.5 <class 'float'>
1.5 <class 'float'>

In [ ]:
print(2**10, type(2**10))

1024 <class 'int'>

In [ ]:
print(8%2, type(8%2))

0 <class 'int'>

In [ ]:
# Booleans

print('2 >1\t', 2>1)
print('2>2\t',2>2)
print('2>=2\t', 2>=2)
print('2==2\t',2==2)
print('2==2.0\t', 2==2.0)
print('2!=1.9\t',2!=1.9)

2 >1	 True
2>2	 False
2>=2	 True
2==2	 True
2==2.0	 True
2!=1.9	 True

In [ ]:
print(True and False)
print(True or True)
print(not False)

False
True
True

In [ ]:
# Lists

l= [1, 2, 3, [4, 8], True, 2.3]
print(l, type(l))

[1, 2, 3, [4, 8], True, 2.3] <class 'list'>

In [ ]:
print(l[0],type(l[0]))
print(l[3],type(l[3]))
print(l[3][1],type(l[3][1]))

1 <class 'int'>
[4, 8] <class 'list'>
8 <class 'int'>

In [ ]:
print(l)
print(l[4:]) # l[4:] is l from the position 4 (included)
print(l[:5]) # l[:5] is l up to position 5 (excluded)
print(l[4:5]) # l[4:5] is l between 4 (included) and 5 (excluded) so just 4
print(l[1:6:2])  # l[1:6:2] is l between 1 (included) and 6 (excluded) by steps of 2 thus 1,3,5
print(l[::-1]) # reversed order
print(l[-1]) # last element

[1, 2, 3, [4, 8], True, 2.3]
[True, 2.3]
[1, 2, 3, [4, 8], True]
[True]
[2, [4, 8], 2.3]
[2.3, True, [4, 8], 3, 2, 1]
2.3

In [ ]:
#Operations on lists

l.append(10)   # Add an element to l (the list is not copied, it is actually l that is modified)
print(l)

[1, 2, 3, [4, 8], True, 2.3, 10]

In [ ]:
l.insert(1,'u')   # Insert an element at position 1 in l (the list is not copied, it is actually l that is modified)
print(l)

[1, 'u', 2, 3, [4, 8], True, 2.3, 10]

In [ ]:
l.remove(10) # Remove the first element 10 of l 
print(l)

[1, 'u', 2, 3, [4, 8], True, 2.3]

In [ ]:
print(len(l)) # length of a list
print(2 in l)  # test if 2 is in l

7
True

In [ ]:
# Handling lists
l2 =l
l.append('Something')
print(l,l2)

[1, 'u', 2, 3, [4, 8], True, 2.3, 'Something'] [1, 'u', 2, 3, [4, 8], True, 2.3, 'Something']

In [ ]:
l3 = list(l) #l.copy() works in Python 3
l.remove('Something')
print(l,l3)

[1, 'u', 2, 3, [4, 8], True, 2.3] [1, 'u', 2, 3, [4, 8], True, 2.3, 'Something']

In [ ]:
l4 = []
l5 =[4,8,10.9865]
print(l4+l5)
print(l5*3)

[4, 8, 10.9865]
[4, 8, 10.9865, 4, 8, 10.9865, 4, 8, 10.9865]

In [ ]:
# Tuples, Dictionaries[*]
t = (1,'b',87685.908)
print(t, type(t))

(1, 'b', 87685.908) <class 'tuple'>

In [ ]:
a,b = 12, [987,98897]
u = a,b
print(a,b,u)

12 [987, 98897] (12, [987, 98897])

In [ ]:
try:
    u[1] =2
except Exception as error:
    print(error)

'tuple' object does not support item assignment

In [ ]:
d= {"param1" : 1.0, "param2 ": True, "param3":"red" }
print(d,type(d))

{'param1': 1.0, 'param2 ': True, 'param3': 'red'} <class 'dict'>

In [ ]:
print(d["param1"])
d["param1"]=2.4
print(d)

1.0
{'param1': 2.4, 'param2 ': True, 'param3': 'red'}

In [ ]:
# String and text Formatting

s= "test"
print(s,type(s))

test <class 'str'>

In [ ]:
print(s[0])
print(s+"42")

t
test42

In [ ]:
print(s,42)
print(s + "42")

test 42
test42

In [ ]:
try:
    print(s+42)
except Exception as error:
    print(erroe)

NameError: name 'erroe' is not defined

In [ ]:
print( "test {}".format(42) )

test 42

In [ ]:
print( "test with an int {:d}, a float {} (or {:e} which is roughly {:.1f})".format(4 , 3.141 , 3.141 , 3.141 ))

test with an int 4, a float 3.141 (or 3.141000e+00 which is roughly 3.1)

In [ ]:
#Branching and Loops

statement1 = False
statement2 = False

if statement1:
    print("statement1 is True")
elif statement2:
    print("statement2 is True")
else:
    print("statement1 and statement2 are False")

statement1 and statement2 are False

In [ ]:
statement1 = statement2 = True

if statement1:
    if statement2:
        print("both statement1 and statement2 are True")

both statement1 and statement2 are True

In [ ]:
if statement1:
    if statement2: # Bad indentation!
    #print("both statement1 and statement2 are True") # Uncommenting Would cause an error
        print("here it is ok")
    print("after the previous line, here also")

here it is ok
after the previous line, here also

In [ ]:
statement1 = True 

if statement1:
    print("printed if statement1 is True")
    
    
    
    print("still inside the if block")

printed if statement1 is True
still inside the if block

In [ ]:
statement1 = False 

if statement1:
    print("printed if statement1 is True")
    
print("outside the if block")

outside the if block

In [ ]:
# For loop

for x in [1, 2, 3]:
    print(x)

1
2
3

In [ ]:
sentence = ""
for word in ["Python", "for", "data", "Science"]:
    sentence = sentence + word + " "
print(sentence)

Python for data Science

In [ ]:
print("Range (from 0) to 4 (excluded) ")
for x in range(4): 
    print(x)   

print("Range from 2 (included) to 6 (excluded) ")
for x in range(2,6): 
    print(x)

print("Range from 1 (included) to 12 (excluded) by steps of 3 ")
for x in range(1,12,3): 
    print(x)

Range (from 0) to 4 (excluded)
0
1
2
3
Range from 2 (included) to 6 (excluded)
2
3
4
5
Range from 1 (included) to 12 (excluded) by steps of 3
1
4
7
10

In [ ]:
for idx, x in enumerate(range(-3,3)):
    print(idx, x)

0 -3
1 -2
2 -1
3 0
4 1
5 2

In [ ]:
#While loop

i = 0

while i<5:
    print(i)
    i+=1

0
1
2
3
4

In [ ]:
#Try catch/except

a = [1,2,3]
print(a)

try:
    a[1] = 3
    print("command ok")
except Exception as error: 
    print(error)
    
print(a) # The command went through

try:
    a[6] = 3
    print("command ok")
except Exception as error: 
    print(error)
    
print(a) # The command failed

[1, 2, 3]
command ok
[1, 3, 3]
list assignment index out of range
[1, 3, 3]

In [ ]:
# Functions

def fun0():
    print("\"fun0\" just prints")

fun0()

"fun0" just prints

In [ ]:
def fun1(l):
    """
    Prints a list and its length
    """
    print(l, " is of length ", len(l))
    
fun1([1,'iuoiu',True])

[1, 'iuoiu', True]  is of length  3

In [ ]:
help(fun1)

Help on function fun1 in module __main__:

fun1(l)
    Prints a list and its length

In [ ]:
def square(x):
    """
    Return x squared.
    """
    return(x ** 2)

help(square)
res = square(12)
print(res)

Help on function square in module __main__:

square(x)
    Return x squared.

144

In [ ]:
def powers(x):
    """
    Return the first powers of x.
    """
    return(x ** 2, x ** 3, x ** 4)

help(powers)

Help on function powers in module __main__:

powers(x)
    Return the first powers of x.

In [ ]:
res = powers(12)
print(res, type(res))

(144, 1728, 20736) <class 'tuple'>

In [ ]:
two,three,four = powers(3)
print(three,type(three))

27 <class 'int'>

In [ ]:
def powers_dict(x):
    """
    Return the first powers of x as a dictionary.
    """
    return{"two": x ** 2, "three": x ** 3,  "four": x ** 4}


res = powers_dict(12)
print(res, type(res))
print(res["two"],type(res["two"]))

{'two': 144, 'three': 1728, 'four': 20736} <class 'dict'>
144 <class 'int'>

In [ ]:
# Arguments

def fancy_power(x, p=2, debug=False):
    """
    Here is a fancy version of power that computes the square of the argument or other powers if p is set
    """
    if debug:
        print( "\"fancy_power\" is called with x =", x, " and p =", p)
    return(x**p)

In [ ]:
print(fancy_power(5))
print(fancy_power(5,p=3))

25
125

In [ ]:
res = fancy_power(p=8,x=2,debug=True)
print(res)

"fancy_power" is called with x = 2  and p = 8
256

In [ ]:
#Classes

class Point(object):
    """
    Class of a point in the 2D plane.
    """
    def __init__(self, x=0.0, y=0.0):
        """
        Creation of a new point at position (x, y).
        """
        self.x = x
        self.y = y
        
    def translate(self, dx, dy):
        """
        Translate the point by (dx , dy).
        """
        # self.x = self.x + dx
        self.x += dx
        self.y += dy
        
    def __str__(self):
        # Called when you print() the object or convert it to a string
        return("Point: ({:.2f}, {:.2f})".format(self.x, self.y))

In [ ]:
p1 = Point()
print(p1)

p1.translate(3,2)
print(p1)

p2 = Point(1.2,3)
print(p2)

Point: (0.00, 0.00)
Point: (3.00, 2.00)
Point: (1.20, 3.00)

In [ ]:
# Reading and Writing files

f = open(r'C:\Users\Amruta Jagtap\OneDrive\Documents\sample.txt', 'w')
print(f)

<_io.TextIOWrapper name='C:\\Users\\Amruta Jagtap\\OneDrive\\Documents\\sample.txt' mode='w' encoding='UTF-8'>

In [ ]:
f.write("This is a Basic file\n")

21

In [ ]:
f.close()

In [ ]:
f.read

In [ ]:
f= open(r'C:\Users\Amruta Jagtap\OneDrive\Documents\sample.txt', 'r')
f.read()

'This is a Basic file\n'

In [ ]:
f.close()

In [ ]:
with open(r'C:\Users\Amruta Jagtap\OneDrive\Documents\sample.txt', "w") as f:
    result = f.write("This is a test\n")
    print(f"Characters written: {result}")  # 15
    f.write("Second line\n")
    f.write("Third line\n")

Characters written: 15

In [ ]:
f= open(r'C:\Users\Amruta Jagtap\OneDrive\Documents\sample.txt','r')
f.read()

'This is a test\nSecond line\nThird line\n'

In [ ]:
f.read()

''

In [ ]:
with open(r'C:\Users\Amruta Jagtap\OneDrive\Documents\sample.txt', "r") as f:
    content = f.read()
    print(content)

This is a test
Second line
Third line

In [ ]:
with open(r'C:\Users\Amruta Jagtap\OneDrive\Documents\sample.txt', "r") as f:
    for line in f:
        print(f"Read: {line.strip()}")  # strip() removes \n

Read: This is a test
Read: Second line
Read: Third line

In [ ]:
f=  open(r'C:\Users\Amruta Jagtap\OneDrive\Documents\sample.txt', "r") 
f.readline()

'This is a test\n'

In [ ]:
f.seek(0)
for line in f:
    print(line)

f.close()

This is a test

Second line

Third line

In [ ]:
#Exercise
#even or odd
# Taking user input
number = input("Enter a number: ")

# Condition checking using the modulo operator
if number % 2 == 0:
    print(f"The number {number} is Even.")
else:
    print(f"The number {number} is Odd.")

ValueError: invalid literal for int() with base 10: ''

In [ ]:
# Program to display the Fibonacci sequence up to n-th term

nterms = int(input("How many terms? "))

# first two terms
n1, n2 = 0, 1
count = 0

# check if the number of terms is valid
if nterms <= 0:
   print("Please enter a positive integer")
# if there is only one term, return n1
elif nterms == 1:
   print("Fibonacci sequence upto",nterms,":")
   print(n1)
# generate fibonacci sequence
else:
   print("Fibonacci sequence:")
   while count < nterms:
       print(n1)
       nth = n1 + n2
       # update values
       n1 = n2
       n2 = nth
       count += 1